node_modules/
dist/
build/
*.log
.env
.env.local
.env.*.local

frontend/dist/
frontend/.vite/

backend/**/bin/
backend/**/obj/
backend/.idea/
backend/.vs/

docker/postgres_data/
docker/minio_data/

.idea/
.vscode/
*.user
*.suo
*.nupkg
*.snupkg

.DS_Store
Thumbs.db
